global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        user root
        group root
        tune.ssl.default-dh-param 2048

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option  redispatch
        maxconn 4096
        timeout connect 4s
        timeout client 5s
        timeout http-request 4s
        timeout server 55s

frontend fe 
  bind *:80
  # bind *:443 ssl crt /etc/ssl/private/
  monitor-uri /healthcheck

  acl mh_stats path_beg /stats
  use_backend stats if mh_stats

  default_backend be 

backend be 
  balance roundrobin
  option httpchk /health.json
  server b1 "$BACKEND_HOST:$BACKEND_PORT" weight 1 maxconn 2048 check inter 5s

backend stats
  stats enable
  stats uri /stats
